.main-container {
  h2 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 3rem;

    @media screen and (min-width: 450px) {
      font-size: 2.8rem;
    }
  }

  @media screen and (min-width: 600px) {
    width: 500px;
  }

  form {
    display: grid;
    gap: 2rem;

    mat-form-field {
      width: 100%;
    }

    .submit-button-container {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      align-items: center;
    }
  }
}
