<div class="dashboard-container">
  <h2>
    Dashboard<mat-icon
      [matTooltip]="
        'The data is collected by UTC ' + serverTimeOffset + ' offset.'
      "
      >info_outline</mat-icon
    >
  </h2>
  <div
    infinite-scroll
    [scrollWindow]="true"
    [infiniteScrollDisabled]="isLoadData() || !isNextPage()"
    (scrolled)="loadMore()"
    checkMaxHeight
    isWindowScroll
    [blockEmit]="isLoadData() || !isNextPage() || initScroll()"
    (loadMoreItems)="loadMore()"
    class="dashboard-data-container"
  >
    @for (element of dashboardElements(); track $index) {
      @if (isOneValueElement(element)) {
        @if (element.value != undefined) {
          <div
            [ngClass]="
              getDashboardElementSizeClass(element.dashboardElementSize)
            "
            class="shadow-elevation radius one-value-dashboard-element-container"
          >
            <app-mp-one-value-dashboard-element
              @inTrigger
              [element]="element"
            ></app-mp-one-value-dashboard-element>
          </div>
        }
      } @else if (isChartElement(element)) {
        @if (element.data && element.data.length > 0) {
          <div
            class="shadow-elevation radius"
            [ngClass]="
              getDashboardElementSizeClass(element.dashboardElementSize)
            "
          >
            <app-mp-chart-dashboard-element
              @inTrigger
              [element]="element"
            ></app-mp-chart-dashboard-element>
          </div>
        }
      } @else if (isGroupElement(element)) {
        @if (element.values && element.values.length > 0) {
          <div
            [ngClass]="
              getDashboardElementSizeClass(element.dashboardElementSize)
            "
            class="shadow-elevation radius merged-column"
          >
            <app-mp-group-dashboard-element
              @inTrigger
              [element]="element"
            ></app-mp-group-dashboard-element>
          </div>
        }
      }
    }
  </div>
  @if (dashboardElements() && isLoadData() && !initScroll()) {
    <app-loading @inTrigger [diameter]="50" center></app-loading>
  }

  @if (!dashboardElements()) {
    <div @inOutTrigger class="loading-container">
      <app-loading [diameter]="50" center></app-loading>
    </div>
  }
</div>
