:host {
  width: 100%;
}

.main-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
}

.section-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 1rem;
}
