.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0 0.5rem 1rem;

  h3 {
    display: flex;
    gap: 0.5rem;
  }
}

.list-container {
  display: grid;
  flex-direction: column;
  gap: 2rem;

  @media screen and (min-width: 1700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    display: grid;
    border-radius: 15px;
    overflow: hidden;
    justify-content: flex-start;

    .data-container {
      display: grid;
      margin-top: 1rem;
      grid-template-columns: max-content auto;
      padding: 1rem;
      gap: 1rem;

      p {
        font-weight: 500;
        font-size: 1.3rem;
        margin: 0 0.5rem;
      }

      mat-divider {
        grid-column: 1/-1;
      }

      .submit-button-container {
        margin-top: 1rem;
        grid-column: 1/-1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;

        .drag-handle-button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 48px;
          width: 48px;
        }
      }
    }
  }

  .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    grid-column: 1/-1;

    p {
      font-weight: 500;
    }
  }

  mat-paginator {
    background-color: transparent;
    grid-column: 1/-1;
  }
}
