h3 {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  mat-form-field {
    width: 100%;
  }

  .submit-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
}
