.header-container {
  display: flex;
  flex-direction: column;

  .close-button {
    align-self: flex-end;
  }

  .avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    app-avatar {
      margin: 0 1rem;
    }

    .user-data-container {
      p:first-child {
        font-size: 2rem;
        text-align: center;
        margin: 0 1rem 0.5rem;
      }

      p:last-child {
        font-size: 1.4rem;
        text-align: center;
        margin: 0 1rem;
        font-weight: 500;
      }
    }
  }
}
