app-account-top-toolbar {
  position: sticky;
  top: 0;
  height: 100%;
  flex: 1;
  z-index: 999;
  width: 100%;
}

.main-container {
  max-width: 1080px;
  margin: 0 auto;

  .content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 1rem 0 2rem;

    app-account-desktop-navigation {
      position: sticky;
      top: 74px;
      height: 100%;
      overflow-y: auto;
    }

    .router-container {
      flex: 1;
      padding: 0 2rem;
    }
  }
}
