@use "../../../../../shared/styles/mixins" as mixins;

.carousel-wrapper {
  margin: 0.5rem 1rem;
  border-radius: 15px;
  padding: 1rem 2rem;

  h3 {
    font-weight: 700;
    margin: 1rem 0;
    text-transform: uppercase;
  }
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  padding-bottom: 2rem;
  height: 100%;
}

.empty-placeholder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 300px;

  p {
    font-weight: 500;
  }
}

.product-item-wrapper {
  width: 100%;
  display: flex;
  justify-self: center;
  justify-content: center;
  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  max-width: 200px;
  width: 100%;
  margin: 0.5rem 0;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @include mixins.shadow-elevation();
      border-radius: 15px;
    }
  }

  .product-item {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 1rem 2rem 0;
    width: 100%;
    flex: 1;
    height: 300px;

    .flex-spacer {
      flex: 1 1 auto;
    }

    .photo-wrapper {
      height: 100px;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    .category-and-main-variant-option-label {
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    app-small-star-rating {
      margin: 0.5rem 0;
    }

    .price-label {
      margin-top: 0.5rem;
      font-size: 1.4rem;
      font-weight: 700;
    }

    .multiple-variants-label {
      font-size: 1.2rem;
    }

    mat-divider {
      margin: 1rem 0;
    }
  }
}
