.header-label {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;

  @media screen and (min-width: 450px) {
    font-size: 2.8rem;
  }
}

.main-container {
  display: grid;
  gap: 1rem 2rem;

  @media screen and (min-width: 1100px) {
    grid-template-columns: repeat(2, 1fr);

    .data-container {
      grid-row: 2/3;
    }
  }

  .subheader-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    min-height: 48px;

    div {
      display: flex;
      padding: 0 2rem;
    }
  }
}

.data-container {
  padding: 1rem 2rem;
  border-radius: 15px;
  height: max-content;
  margin-bottom: 2rem;

  mat-divider {
    margin: 0.5rem 0;
  }
}

.empty-placeholder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding: 1rem 2rem;
  gap: 1rem;

  p {
    font-weight: 500;
  }
}

.item {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem 2rem;
  align-items: center;
  grid-auto-rows: 100px;
  height: 100px;

  p {
    font-weight: 500;
    font-size: 1.2rem;
    justify-self: center;
    text-align: center;

    @media screen and (min-width: 800px) {
      font-size: 1.4rem;
    }
  }

  .empty-icon {
    width: 48px;
    height: 48px;
  }

  .drag-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.data-container.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}
