.header-container {
  margin: 0 1rem 3rem;

  h2 {
    font-size: 3.2rem;
  }
}

.form-inputs-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin: 0 1rem;
}

mat-slide-toggle {
  margin: 1rem 1rem 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 1rem 0;

  a {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 400px) {
  .form-inputs-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .button-container {
    justify-content: flex-start;
  }
}
