.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: inherit;
  }

  .empty-placeholder-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1;

    p {
      font-size: 2.1rem;
    }
  }
}

.filter-button-space {
  height: 80px;
}

@media screen and (min-width: 450px) {
  .main-container .header-container h2 {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 1280px) {
  .main-container .content-container {
    padding: 0.5rem 0;
  }
}
