.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 1rem;
  overflow-y: visible;
  overflow-x: clip;
  transition: box-shadow 0.3s ease;

  .section {
    display: flex;
    align-items: center;

    .route-label {
      cursor: pointer;
      margin: 0 2rem;
      font-weight: 500;
      font-size: 1.5rem;
    }

    @media screen and (min-width: 400px) {
      .route-label {
        font-size: 1.9rem;
      }
    }

    .heading-container {
      display: flex;
      height: 64px;
      justify-content: center;
      align-items: center;
      align-self: center;
      gap: 0 1.5rem;
      cursor: pointer;
      text-decoration: none;
      padding: 0 1rem;
      width: 100%;
      overflow: hidden;
      color: inherit;

      div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span:first-child {
          font-size: 1.9rem;
          font-weight: 700;
        }

        span:last-child {
          font-size: 1.3rem;
          align-self: flex-end;
        }
      }

      fa-icon {
        font-size: 2.4rem;
      }
    }
  }
}
