<div class="header-container">
  <app-breadcrumbs [breadcrumbsItems]="breadcrumbsItems"></app-breadcrumbs>
  <h2>Update Password</h2>
</div>
<div class="main-container">
  <form [formGroup]="formGroup" (ngSubmit)="updatePassword()">
    <mat-form-field appearance="outline">
      <mat-label for="oldPassword">Current Password</mat-label>
      <input
        matInput
        id="oldPassword"
        placeholder="Current Password"
        [formControl]="formGroup.controls.oldPassword"
        [type]="
          oldPasswordCheckbox.checked && !isUpdateProcess()
            ? 'text'
            : 'password'
        "
      />
      <mat-icon matIconPrefix>key</mat-icon>
      <button
        mat-icon-button
        matSuffix
        tabindex="-1"
        [disabled]="isUpdateProcess()"
        type="button"
        (click)="oldPasswordCheckbox.click()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="oldPasswordCheckbox.checked"
      >
        <mat-icon>{{
          oldPasswordCheckbox.checked && !isUpdateProcess()
            ? "visibility_off"
            : "visibility"
        }}</mat-icon>
      </button>
      <input class="checkbox-input" type="checkbox" #oldPasswordCheckbox />
      @if (formGroup.controls.oldPassword.hasError("required")) {
        <mat-error>Required</mat-error>
      } @else if (formGroup.controls.oldPassword.hasError("minlength")) {
        <mat-error
          >Min Length is
          {{ validatorParameters?.passwordParams?.minLength! }}</mat-error
        >
      } @else if (formGroup.controls.oldPassword.hasError("maxlength")) {
        <mat-error
          >Max Length is
          {{ validatorParameters?.passwordParams?.maxLength! }}</mat-error
        >
      } @else if (formGroup.controls.oldPassword.hasError("pattern")) {
        <mat-error>Wrong format</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="newPassword">New Password</mat-label>
      <input
        matInput
        id="newPassword"
        placeholder="New Password"
        [formControl]="formGroup.controls.newPassword"
        [type]="
          newPasswordCheckbox.checked && !isUpdateProcess()
            ? 'text'
            : 'password'
        "
      />
      <mat-icon matIconPrefix>key</mat-icon>
      <button
        mat-icon-button
        matSuffix
        tabindex="-1"
        [disabled]="isUpdateProcess()"
        type="button"
        (click)="newPasswordCheckbox.click()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="newPasswordCheckbox.checked"
      >
        <mat-icon>{{
          newPasswordCheckbox.checked && !isUpdateProcess()
            ? "visibility_off"
            : "visibility"
        }}</mat-icon>
      </button>
      <input class="checkbox-input" type="checkbox" #newPasswordCheckbox />
      <mat-icon
        matIconSuffix
        [matTooltip]="validatorParameters?.passwordParams?.errorMessage!"
        >info</mat-icon
      >
      @if (formGroup.controls.newPassword.hasError("required")) {
        <mat-error>Required</mat-error>
      } @else if (formGroup.controls.newPassword.hasError("minlength")) {
        <mat-error
          >Min Length is
          {{ validatorParameters?.passwordParams?.minLength! }}</mat-error
        >
      } @else if (formGroup.controls.newPassword.hasError("maxlength")) {
        <mat-error
          >Max Length is
          {{ validatorParameters?.passwordParams?.maxLength! }}</mat-error
        >
      } @else if (formGroup.controls.newPassword.hasError("pattern")) {
        <mat-error>'Wrong format</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="confirmNewPassword">Confirm New Password</mat-label>
      <input
        matInput
        id="confirmNewPassword"
        placeholder="Confirm New Password"
        [formControl]="formGroup.controls.confirmNewPassword"
        [type]="
          confirmNewPasswordCheckbox.checked && !isUpdateProcess()
            ? 'text'
            : 'password'
        "
      />
      <mat-icon matIconPrefix>key</mat-icon>
      <button
        mat-icon-button
        matSuffix
        tabindex="-1"
        [disabled]="isUpdateProcess()"
        type="button"
        (click)="confirmNewPasswordCheckbox.click()"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="confirmNewPasswordCheckbox.checked"
      >
        <mat-icon>{{
          confirmNewPasswordCheckbox.checked && !isUpdateProcess()
            ? "visibility_off"
            : "visibility"
        }}</mat-icon>
      </button>
      <input
        class="checkbox-input"
        type="checkbox"
        #confirmNewPasswordCheckbox
      />
      @if (formGroup.controls.confirmNewPassword.hasError("required")) {
        <mat-error>Required</mat-error>
      } @else if (formGroup.controls.confirmNewPassword.hasError("minlength")) {
        <mat-error
          >Min Length is
          {{ validatorParameters?.passwordParams?.minLength! }}</mat-error
        >
      } @else if (formGroup.controls.confirmNewPassword.hasError("maxlength")) {
        <mat-error
          >Max Length is
          {{ validatorParameters?.passwordParams?.maxLength! }}</mat-error
        >
      } @else if (formGroup.controls.confirmNewPassword.hasError("pattern")) {
        <mat-error>'Wrong format</mat-error>
      } @else if (formGroup.controls.confirmNewPassword.hasError("equalsTo")) {
        <mat-error
          >New Pasword And Confirm New Password must be the same</mat-error
        >
      }
    </mat-form-field>

    <mat-slide-toggle formControlName="logoutOtherDevices"
      >Logout Other Devices</mat-slide-toggle
    >

    <div class="submit-button-container">
      <button
        color="primary"
        [disabled]="isUpdateProcess() || !formGroup.valid"
        mat-fab
        type="submit"
        extended
      >
        @if (isUpdateProcess()) {
          <mat-icon>
            <app-loading buttonLoader></app-loading>
          </mat-icon>
        } @else {
          <mat-icon>save</mat-icon>
        }
        Update
      </button>
      <a
        routerLink="./../../"
        [disabled]="isUpdateProcess()"
        mat-button
        type="button"
      >
        Cancel
      </a>
    </div>
  </form>
</div>
