@use "./animations";

@mixin skeleton-loader($width, $height) {
  height: $height;
  width: $width;
  border-radius: 10px;
  animation: 0.5s infinite alternate loader-skeleton-animation;
  animation-delay: 0.2s;
  background-color: rgb(233, 233, 233);
  opacity: 0;
  transition: opacity 1s;
}

@mixin shadow-elevation() {
  box-shadow: 0 0 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px -3px rgba(0, 0, 0, 0.75);
}
