.header-label {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 3rem;

  @media screen and (min-width: 450px) {
    font-size: 2.8rem;
  }
}

form {
  display: grid;
  gap: 2rem;
  max-width: 500px;

  .submit-button-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }

  .description-field {
    min-height: 200px;
    max-height: 300px;
  }
}
